
@{
    ViewData["Title"] = "Games";
}

<section id="guessingGameSection">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col mx-auto">
                <div class="text-center h3">Guess the number<img src="~/lib/bootstrap/icons/hash.svg" height="25" width="25" /> </div>
               
            </div>
        </div> <!-- End row-->

        <div class="row justify-content-center">
            <div class="col col-md-4">
                <img class="img-fluid mx-auto main-image" src="~/images/game/question-man2.jpeg" />
                <form asp-controllers="Game" asp-action="GuessingGame" method="post">

                    <label class="pt-2">Guess a number between 1-100</label>
                    <input type="number" min="0" max="100" name="guess" required placeholder="Enter number" />
                    <input class="btn-primary" type="submit" value="Check" />
                </form>
                @if (ViewBag.Message != null)
                {
                    <div class="col col-md-4 mx-auto text-center"><h5 class="pt-3 text-center mx-auto">@ViewBag.Message</h5> <span>Guesses  <br /> @ViewBag.Guesses</span><br /> @ViewBag.Random</div>
                }
               
            </div>
            
        </div> <!-- End row-->
    </div>  <!-- End container -->
</section>
