
@{
    ViewData["Title"] = "RecruitTool";
}

<div id="portfolioRecruitToolSection">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="#">@Html.ActionLink("Gallery", "Projects", "Home")</a></li>
                <li>Portfolio Details</li>
            </ol>
            <h2>Portfolio Details</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="/images/portfolio/rekrytering-demo-android.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="/images/portfolio/rekrytering-digital_form.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="/images/portfolio/rekrytering-form.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/portfolio/rekrytering-demo.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="/images/portfolio/rekrytering-building.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/portfolio/rekrytering-excel.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="/images/portfolio/rekrytering-options.png" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Web design</li>
                            <li><strong>Client</strong>: HR Recruit Department at Board of education, Gothenburg </li>
                            <li><strong>Project date</strong>: 30 oct, 2019</li>
                            <li><strong>Project URL</strong>: <a href="https://demo.vingnir.se/rekrytering/">www.demo.vingnir.se</a></li>
                            <li><strong>GitHub</strong>: <a href="https://github.com/vingnir">github.com/vingnir</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>Recruitment tool for HR</h2>
                        <p>
                           Practical tool to bring the paperwork away from the office, contains a wide range of questions for different kind of recruits.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>
<!-- End Portfolio Details Section -->
