
@{
    ViewData["Title"] = "Visual Map";
}


<div id="portfolioVisualMapSection">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="#">@Html.ActionLink("Gallery", "Projects", "Home")</a></li>
                <li>Portfolio Details</li>
            </ol>
            <h2>Portfolio Details</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                                                                                    
                            <div class="swiper-slide">
                                <img src="/images/portfolio/digitalisering_responsive.png" alt="">
                            </div>

                            

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Web design</li>
                            <li><strong>Client</strong>: Digitalization and Innovation at Board of education, Gothenburg </li>
                            <li><strong>Project date</strong>: 30 oct, 2019</li>
                            <li><strong>Project URL</strong>: <a href="https://demo.vingnir.se/digitalisering/">www.demo.vingnir.se</a></li>
                            <li><strong>GitHub</strong>: <a href="https://github.com/vingnir">github.com/vingnir</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>Visualisation Map</h2>
                        <p>
                           Tool to map all 400 pre-schools with options to lend out tech equipment, admin level required for persistent changes of the map.  
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>
<!-- End Portfolio Details Section -->
