
@{
    ViewData["Title"] = "About";
}

<section id="aboutSection">
    <div class="about">

        <div class="dbox w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-info"></span>
            </div>
            <div class="text">
                <p>A short introduction</p>
            </div>
        </div>

        <p class="description">Johan Ivarsson | Web-developer</p>
    </div>
    <div class="terminal">
        <pre>       
        <code class="demo code-box"><span class="attribute">Developer</span> Gbg <span class="dollar-sign">~ $</span> </code>
      </pre>
    </div>
</section>
